#workout
  %h2 Treino selecionado

  %h3 
    %span Data:
    = @workout.date
  %h3
    %span Treino:
    = @workout.workout
  %h3 
    %span Humor:
    = @workout.mood
  %h3 
    %span Duração:
    = @workout.length

#exercises
  %h2 Treinos
  = render @workout.exercises

  %h3 Adicionar um treino
  = render "exercises/form"

#botoes

= link_to "Voltar", root_path, class: "btnVoltar"
= link_to "Editar", edit_workout_path(@workout), class: "btnEdit"
= link_to "Deletar", workout_path(@workout), method: :delete, data: { confirm: "Tem certeza de que deseja deletar?" }, class: "btnDelete"


